.cargando{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}

.cargando img{
	position: relative;
	left: calc(50% - 64px);
	top: calc(50% - 64px);
}

.letra-blanca{
	color: white;
}

.vista-previa-imagen{
	width: 40%;
	border: 1px solid black;
}

.estado-prod-A{
	color: green;
}
.estado-prod-I{
	color: red;
}